@font-face {
    font-family: "Meslo Nerd";
    src: url("https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@master/patched-fonts/Meslo/L/Regular/complete/Meslo%20LG%20L%20Regular%20Nerd%20Font%20Complete.ttf");
}
@font-face {
    font-family: "Fire Code Nerd";
    src: url("https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@master/patched-fonts/FiraCode/Regular/complete/Fira%20Code%20Regular%20Nerd%20Font%20Complete.ttf");
}
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#terminal-body {
    width: 100%;
    height: 100vh;
    word-wrap: break-word;
}
