@font-face {
    font-family: "DroidSansMono";
    src: url("./DroidSansMonoNerdFontComplete.otf");
}
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#terminal-body {
    width: 100%;
    height: 100vh;
    word-wrap: break-word;
}
